.footer {
  display: block;
  grid-column: 3/-1;
  margin: 40px 0px;
  background-color: var(--y1);
  padding: 20px 0px 20px 5px;
}

.footer p {
  font-family: "IBM Plex Mono", monospace;
}

@media (max-width: 700px) {
  .footer {
    grid-column: 1/-1;
    margin: 40px 0px 0px 0px;
  }
  .footer p {
    width: 35ch;
  }
}
