.principal {
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  gap: 20px;
  box-sizing: border-box;
}

.principal h1 {
  max-width: 10ch;
  grid-column: 1/-1;
  margin-bottom: 20px;
}

.animais-img img {
  cursor: pointer;
  max-width: 100%;
}

.animais-img {
  grid-column: 2;
}

.animais-img ul {
  height: 370px;
  overflow-y: auto;
  margin-right: 2px;
}

.animais-img ul::-webkit-scrollbar {
  width: 10px;
  height: auto;
  background-color: #faf6ed;
}

.animais-img ul::-webkit-scrollbar-thumb {
  background-color: var(--y1);
}

.animais-img ul li {
  min-height: 300px;
  margin-right: 4px;
}

.texto-animais h2 {
  font-size: 1rem;
  font-family: "IBM Plex Mono", Georgia;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--v1);
  font-weight: bold;
}

.texto-animais h2::before {
  content: "";
  display: inline-block;
  background-color: var(--y1);
  width: 34px;
  height: 10px;
  margin-right: 16px;
}

.texto-animais section + section {
  margin: 40px 0px;
}

.texto-animais section p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .principal {
    gap: 0px;
  }
  .principal h1 {
    max-width: 100%;
    margin: 30px 10px;
  }

  .animais-img {
    grid-column: 1;
  }
  .animais-img ul li {
    min-height: 80px;
    margin-right: 4px;
  }

  .animais-img ul {
    margin-left: 10px;
    height: 350px;
    overflow-y: auto;
    margin-right: 2px;
  }
  .texto-animais {
    grid-column: 2/-1;
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .animais-img {
    margin-left: 10px;
    grid-column: 1/-1;
    max-width: 100vw;
    overflow-x: auto;
    box-sizing: border-box;
  }
  .animais-img ul {
    display: flex;
    height: 150px;
    min-width: 600px;
    margin-left: 0px;
    box-sizing: border-box;
  }

  .animais-img ul li {
    min-height: 100px;
    width: 300px;
    margin-right: 0px;
  }

  .animais-img::-webkit-scrollbar {
    height: 10px;
    background-color: #faf6ed;
  }

  .animais-img::-webkit-scrollbar-thumb {
    background-color: var(--y1);
  }

  .texto-animais {
    grid-column: 1/-1;
    margin-left: 10px;
  }

  .texto-animais h2::before {
    width: 20px;
    margin-right: 6px;
  }

  .texto-animais section p {
    width: 40ch;
  }

  .texto-animais section:first-child h2 {
    margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .principal {
    display: block;
  }
  .animais-img {
    max-width: 380px;
  }
}
